services:
  db:
    image: postgres:15-alpine
    container_name: caffenger-db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: main
    ports:
      - '5433:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - pg_network

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin_web
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: mih.mare@gmail.com
      PGADMIN_DEFAULT_PASSWORD: password
    ports:
      - '8080:80'
    depends_on:
      - db
    networks:
      - pg_network

networks:
  pg_network:
    driver: bridge

volumes:
  postgres_data:
